[project]
	description = ??JQuery?select???????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhonglingxiao@ayb (zlxbuzz)
[access "refs/for/refs/*"]
	read = group user/zhonglingxiao@ayb (zlxbuzz)
	push = group user/zhonglingxiao@ayb (zlxbuzz)
	label-Code-Review = -2..+2 group user/zhonglingxiao@ayb (zlxbuzz)
	label-Verified = -1..+1 group user/zhonglingxiao@ayb (zlxbuzz)
	rebase = group user/zhonglingxiao@ayb (zlxbuzz)
	removeReviewer = group user/zhonglingxiao@ayb (zlxbuzz)
	submit = group user/zhonglingxiao@ayb (zlxbuzz)
[access "refs/heads/*"]
	read = group user/zhonglingxiao@ayb (zlxbuzz)
	create = group user/zhonglingxiao@ayb (zlxbuzz)
	push = +force group user/zhonglingxiao@ayb (zlxbuzz)
	pushMerge = group user/zhonglingxiao@ayb (zlxbuzz)
[access "refs/tags/*"]
	push = +force group user/zhonglingxiao@ayb (zlxbuzz)
	pushTag = group user/zhonglingxiao@ayb (zlxbuzz)
	pushSignedTag = group user/zhonglingxiao@ayb (zlxbuzz)
